.container{
    height: 100vh;
    display: flex;
    align-items: center;
}

.fix-flex{
    display: block;
    margin: auto;
}

.login-btn{
    margin: auto;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}