<div class="new-post">
    <div class="row"><div class="col-12 text-center"><h3>Nuevo Post</h3></div></div>
    <div class="row">
        <div class="col-md-12 text-center">
            <img [src]="user.image" class="fotografia-user" alt="Imágen de perfil">
        </div>

        <strong class="col-md-12 text-center">
            #{{user.nickname}}
        </strong>
    </div>

    <div class="row">
        <div class="col-md-12">
            <textarea name="" id="text-area-new-post" rows="5" style="resize: none; width: 100%;" [(ngModel)]="text"></textarea>
        </div>
        <input id="image" class="inputfile" type="file" max-size="4000000" accept="image/*" aria-label="Fotografía" (change)="handleInputChange($event)">
        
    </div>
    <br>
    <div class="row">
        <div class="col-12 text-right">
            <label for="image" class="btn btn-primary" style="padding: 6px 12px; margin: 1px;"><i class="far fa-images"></i></label>
            <button class="btn btn-primary" (click)="publicar()"><i class="fas fa-star"></i>&nbsp;Publicar</button>
        </div>
    </div>
</div>

<div class="search-results" infinite-scroll [infiniteScrollDistance]="scrollDistance"
    [infiniteScrollThrottle]="throttle" (scrolled)="onScrollDown()">
    <div class="post" *ngFor="let post of array">
        <div class="head-post text-center">
            <div class="row image-post-profile">
                <div class="col-md-12 text-center">
                    <p class="left-post">{{post.createdate.timestamp | date:'shortTime'}}</p>
                    <img [src]="post.userimageURL" class="fotografia-user" alt="Imagen del usuario en el post"/>
                    <p class="right-post">
                        <button class="btn btn-primary" (click)="deletePost(post.idpost)">
                            <i class="fas fa-trash-alt cursor"></i>
                        </button>
                        &nbsp;
                        <button class="btn btn-primary" (click)="editable(post.idpost)">
                            <i class="fas fa-edit cursor"></i>
                        </button>
                    </p>
                </div>
            </div>

            <strong class="col-md-12 text-center">
                #{{post.usernickname}}
            </strong>
        </div>

        <div class="row body-post" *ngIf="post.imageURL !== null">
            <div class="col-md-4 text-center">
                <img [src]="post.imageURL" class="fotografia-post" alt="Imagen del post"/>
            </div>
    
            <div class="col-md-8 text-left">
                <p [id]="('text-post-postid-'+post.idpost)" (blur)="editar(post.idpost)">{{post.description}}</p>
            </div>
        </div>

        <div class="row body-post" *ngIf="post.imageURL === null">    
            <div class="col-md-12 text-left">
                <p [id]="('text-post-postid-'+post.idpost)" (blur)="editar(post.idpost)">{{post.description}}</p>
            </div>
        </div>

        <div class="row comments-post">
            <div class="col-12">
                <div class="row comment" *ngFor="let comment of post.comments">
                    <div class="col-2" style="text-align: end;">
                        <img [src]="post.userimageURL" class="img-comment" alt="Imágen del perfil de un usuario">&nbsp;
                    </div>

                    <div class="col-8 text-left">
                        <p>{{comment.description}}</p>
                    </div>

                    <div class="col-2" style="text-align: end;">
                        <button class="btn btn-primary" (click)="deleteComment(post.idpost, comment.idcomment)">
                            <i class="fas fa-trash-alt cursor" ></i>
                        </button>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="col-12">
                <div class="row new-comment">
                    <div class="col-12 text-center">
                        <div class="row">
                            <div class="ncs">
                                <img [src]="post.userimageURL" class="img-comment" alt="Imágen del perfil de un usuario">
                                &nbsp;
                                <textarea class="text-area-new-comment" #newcomment cols="60" rows="1" style="resize: none;" [id]="('textarea-comment-postid-'+post.idpost)"></textarea>
                                &nbsp;
                                <button class="btn btn-primary submit-comment" (click)="comment(post.idpost, newcomment)"><i class="fas fa-paper-plane"></i>&nbsp;Enviar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>