.fotografia-user{
    height: 128px;
    border-radius: 64px;
}

.fotografia-post{
    height: 128px;
}

.post{
    margin: 15px;
    border: 1px solid #555;
}

.cursor{
    cursor: pointer;
}

#text-area-new-post{
    background-color: #444;
    color: white !important;
    padding: 15px;
}

.new-post{
    padding: 30px;
    margin: 15px;
    background: #282828;
    box-shadow: 0 0 2px;
    border-radius: 4px;
    color: white !important;
}

.left-post{
    float: left;
    position: absolute;
    top: calc(50% - 1em);
    left: calc(25% - 1em);
}

.right-post{
    float: right;
    position: absolute;
    top: calc(50% - 1em);
    right: calc(25% - 1em);
}

.head-post{
    padding: 30px 0;
    background: #282828;
    color: white;
}

.body-post{
    padding: 30px 0;
    margin: 0;
    background: #444;
    color: white;
}

.comments-post{
    margin: 0;
    padding: 15px 30px;
    border-top: 1px solid #777;
    background: #444;
}

.img-comment{
    height: 50px;
    border-radius: 25px;
}

/* ncs Contiene el area de nuevo comentario completa*/

.ncs{
    margin: auto;
    display: flex;
    align-items: center;

    padding: 15px;
    background: #222;
    border-radius: 3em;
}

.comment{
    margin: 1rem;
    background: #252525;
    padding: 15px;
    border-radius: 10px;
    color: white;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.submit-comment{
    padding-top: calc(1em - 2px);
    padding-bottom: calc(1em - 2px);
    border-radius: 2em;
}

.text-area-new-comment{
    border-radius: 2em;
    padding: 15px;
}

.text-area-new-comment:focus{
    outline: none !important;
}